extends ../layouts/main.pug

block content
    .top
        form(action="/create", method="get")
            button(type="submit") 추가하기
    .main
        .main__desc Desc
        .main__footer 
            form(action="/detail", method="get")
                button(type="submit") 상세보기